{
  "overrides": [
    {
      "files": ["show.mdx"],
      "options": {
        "printWidth": 40,
        "semi": false
      }
    },
    {
      "files": ["slideshow-preview.mdx"],
      "options": {
        "printWidth": 60,
        "semi": false
      }
    }
  ]
}
