{
  "overrides": [
    {
      "files": ["*.mdx"],
      "options": {
        "semi": false,
        "printWidth": 40
      }
    },
    {
      "files": ["show.mdx", "old-show.mdx"],
      "options": {
        "printWidth": 54,
        "semi": false
      }
    },
    {
      "files": ["slideshow-preview.mdx"],
      "options": {
        "printWidth": 60,
        "semi": false
      }
    }
  ]
}
